Lets create a function that returns the lesser of two given numbers, IF BOTH NUMBERS ARE EVEN, but returns the greater if one or both numbers are odd

In [1]:
def lesser_of_two_events(a,b):
    # Let's check if both numbers are even:
    if a%2==0 and b%2==0:
        if a < b:
            result = a 
        else:
            result = b 
    else:
        if a > b:
            result = a 
        else:
            result = b 
    return result

In [2]:
lesser_of_two_events(2,4)

2

In [3]:
lesser_of_two_events(7,5)

7

Write a function that takes a two word string and returns True if BOTH words begin with the same letter:

In [16]:
def animal_crackers(text):
    # We first need to grab the 2 words
    wordlist = text.lower().split()

    return wordlist[0][0]==wordlist[1][0]

In [17]:
animal_crackers('Leveheaded Llama')

True

In [18]:
animal_crackers('Crazy Kangaroo')

False

In [19]:
animal_crackers('Crazy cat')

True

Given two integers, return True if the sum of the integers is 20 or if one of the integers is 20. If not, return False:

In [23]:
def makes_twenty(n1,n2):

    return (n1+n2)==20 or n1==20 or n2==20

In [24]:
makes_twenty(20,10)

True

In [25]:
makes_twenty(2,3)

False

In [26]:
makes_twenty(10,10)

True

Write a function that capitalizes the first and fourth letters of a name:

In [31]:
def old_macdonald(name):

    # Lets separate the name into halves:
    first_half = name[:3]
    second_half = name[3:]

    return first_half.capitalize() + second_half.capitalize()

In [32]:
old_macdonald('macdonald')

'MacDonald'

Given a sentence, return a sentence with the words reversed:

In [39]:
def master_yoda(text):
    # Lets first get a list of the words:
    wordlist = text.split()
    reverse_word_list = wordlist[::-1]
    return ' '.join(reverse_word_list)

In [40]:
master_yoda("I am home")

'home am I'

In [41]:
master_yoda("We are ready")

'ready are We'

In [36]:
# This is an example of how to join a word list:
mylist = ['a', 'b', 'c']

In [38]:
# Join the list with a '--':
' '.join(mylist)

'a b c'

In [42]:
'**'.join(mylist)

'a**b**c'

Given an integer n, return True if n is within 10 of either 100 or 200:

In [43]:
def almost_there(n):

    return (abs(100-n) <= 10) or (abs(200-n) <= 10)

In [44]:
almost_there(104)

True

In [45]:
almost_there(150)

False

In [46]:
almost_there(209)

True

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere:

In [47]:
def has_33(nums):

    for i in range(0,len(nums)-1):
        if nums[i]==3 and nums[i+1]==3:
            return True

    return False

In [48]:
has_33([1,3,3])

True

In [49]:
has_33([1,3,1,3])

False

In [50]:
has_33([3,1,3])

False

Given a string, return a string where for every character in the original there are 3 characters now:

In [51]:
def paper_doll(text):
    # Start with an empty string and continue concatenating into that string:
    result = ""

    for char in text:
        result += char*3
    return result

In [52]:
paper_doll("Hello")

'HHHeeellllllooo'

In [53]:
paper_doll("Mississippi")

'MMMiiissssssiiissssssiiippppppiii'

In [54]:
paper_doll("Tony")

'TTTooonnnyyy'

Given 3 integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 AND there's an 11, reduce the total sum by 10. Finally, if the sum(even after adjustment) exceeds 21, return 'BUST':

In [55]:
def blackjack(a,b,c):

    if sum([a,b,c]) <= 21:
        return sum([a,b,c])
    elif 11 in [a,b,c] and sum([a,b,c]) <= 31:
        return sum([a,b,c]) - 10
    else:
        return 'BUST'

In [56]:
blackjack(5,6,7)

18

In [57]:
blackjack(9,9,9)

'BUST'

In [58]:
blackjack(9,9,11)

19

Return the sum of the numbers in the array, except IGNORE sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers:

In [59]:
def summer_69(arr):

    total =0
    add = True

    for num in arr:
        while add:
            if num!=6:
                total +=num 
                break
            else:
                add = False
        while not add:
            if num!=9:
                break
            else:
                add = True 
                break
    return total

In [60]:
summer_69([1,3,5])

9

In [61]:
summer_69([4,5,6,7,8,9])

9

In [62]:
summer_69([2,1,6,9,11])

14

Write a function that takes in a list of integers and returns True if it contains 007 in order:

In [63]:
def spy_game(nums):

    code = [0,0,7,'x']

    for num in nums:
        if num==code[0]:
            code.pop(0)

    return len(code) == 1

In [64]:
spy_game([1,2,4,0,0,7,5])

True

In [65]:
spy_game([1,0,2,4,0,5,7])

True

In [66]:
spy_game([1,7,2,0,4,5,0])

False

Write a function that returns the number of prime numbers that exist up to and including a given number:

In [67]:
def count_primes(num):

    # Check for 0 or 1 input
    if num < 2:
        return 0

    #################
    # 2 or greater:
    #################

    # Store our prime numbers
    primes = [2]
    # Counter going up to the input num
    x = 3

    # x is going through every number up to input num
    while x <= num:
        # Chexk if x is prime
        for y in range(3,x,2):
            if x%y==0:
                x += 2
                break
        else:
            primes.append(x)
            x +=2
            
    print(primes)
    return len(primes)

In [68]:
count_primes(100)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

25

In [69]:
count_primes(5)

[2, 3, 5]

3