Let's create a list of the word 'HELLO' using 'FOR-LOOPS':

In [1]:
mystring = "Hello"

In [2]:
mylist = []

for letter in mystring:
    mylist.append(letter)

In [3]:
mylist

['H', 'e', 'l', 'l', 'o']

We will now do the exact same thing using 'LIST COMPREHENSIONS':

In [4]:
mylist = [letter for letter in mystring]

mylist

['H', 'e', 'l', 'l', 'o']

Another example using 'LIST COMPREHENSIONS':

In [5]:
mylist = [x for x in 'word']

In [6]:
mylist

['w', 'o', 'r', 'd']

In [7]:
mylist = [qweqwe for qweqwe in 'wordtwo']

mylist

['w', 'o', 'r', 'd', 't', 'w', 'o']

We can also use this 'LIST COMPREHENSIONS' alongside the 'RANGE' function:

In [8]:
mylist = [num for num in range(0,11)] # Will print out all numbers from 0 to 10. 11 not inclusive

mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [9]:
# If we want to run the 'SQUARES' of each number I can do operations on the first variable:
mylist = [num**2 for num in range(0,11)] # Will print out all numbers from 0 to 10. 11 not inclusive

mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [11]:
# We can also use this method if we just wanted to grab the even numbers:
mylist = [num for num in range(0,11) if num%2==0] # Will print out all numbers from 0 to 10. 11 not inclusive

mylist

[0, 2, 4, 6, 8, 10]

In [12]:
# If I just want to grab the square of the even numbers:
mylist = [num**2 for num in range(0,11) if num%2==0] # Will print out all numbers from 0 to 10. 11 not inclusive

mylist

[0, 4, 16, 36, 64, 100]

We can also perform more complex arithmetic:

In [13]:
celcius = [0,10,20,34.5]

fahrenheit = [((9/5)*temp + 32) for temp in celcius]

In [14]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

Doing the previous example using a 'FOR-LOOP':

In [15]:
fahrenheit = []

for temp in celcius:
    fahrenheit.append(((9/5)*temp + 32))

In [16]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

Using 'IF-ELSE' along with 'LIST-COMPREHENSIONS':

In [17]:
# Be careful when using these because the code can get quite long and un-readable:
results = [x if x%2==0 else 'ODD' for x in range(0,11)]

In [18]:
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

We can also have 'NESTED LOPPS' within our 'LIST COMPREHENSION':

In [19]:
# Lets first introduce a nested loop:
mylist = []

for x in [2,4,6]:
    for y in [100,200,300]:
        mylist.append(x*y)

In [20]:
mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]

In [21]:
# Lets first introduce a nested loop:
mylist = []

for x in [2,4,6]:
    for y in [1,10,1000]:
        mylist.append(x*y)

In [22]:
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]

In [23]:
# Now, the same example but this time using 'LIST COMPREHENSION':
mylist = [x*y for x in [2,4,6] for y in [1,10,1000]]

In [24]:
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]