Let's create our first tuple:

In [1]:
t = (1,2,3)

In [2]:
my_list = [1,2,3]

In [3]:
type(t)

tuple

In [4]:
type(my_list)

list

In [5]:
len(t)

3

In [6]:
len(my_list)

3

In [7]:
t = ('ONE', 2, 3)

In [8]:
t[0]

'ONE'

In [9]:
t[2]

3

In [10]:
t[-1]

3

Here are a couple of methods we can use with tuples:

In [11]:
t = ('a', 'a', 'b')

In [12]:
t.count('a')

2

In [13]:
t.index('a')

0

In [14]:
t.index('b')

2

Immutability is what separates a tuple from a list:

In [15]:
my_list

[1, 2, 3]

In [16]:
my_list[0] = "NEW"

In [17]:
my_list

['NEW', 2, 3]

^^^ We cannot perform the above method on a tuple. It will throw out an error. ^^^